<div class="container py-5">
  <h1 class="text-center fw-bold pb-3">All lists</h1>
  <p class="text-center pb-3"><%= link_to "Add new list", new_list_path %></p>
  <div class="row justify-content-evenly">
    <% @lists.each do |list| %>
      <div class="card-category col-3 m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key %>')">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
