<h1 class="text-center fw-bold">All lists</h1>
<p class="text-center pb-3"><%= link_to "Add new list", new_list_path %></p>
<ul class="list-group">
  <% @lists.each do |list| %>
    <li class="list-group-item">
      <%= link_to list.name, list_path(list) %>
    </li>
  <% end %>

</ul>
